@import "tailwindcss" source("../src");
@plugin '@tailwindcss/forms';
@plugin '@headlessui/tailwindcss';
@plugin '@tailwindcss/typography';
@plugin '@egoist/tailwindcss-icons';

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-display: swap;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/dm-sans-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 600;
  src: url("./assets/fonts/dm-sans-semibold.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  src: url("./assets/fonts/dm-sans-bold.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/jetbrains-mono-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 700;
  src: url("./assets/fonts/jetbrains-mono-bold.woff2") format("woff2");
}

@theme {
  --font-sans: "DM Sans", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
  --font-mono: "JetBrains Mono", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
}
